<--LOGIN PAGE--!> 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  <ul class=flashes>
  {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}
  <form action="/login" method="post">
  EMAIL : <input type="email" name="email" required>
  PASSWORD : <input type="text" name="password" required>
  <a href="{{url_for('forgot_pass')}}">FORGOT YOUR PASSWORD?</a>
  <button type="submit">Submit</button>
  </form>
</body>
</html>
