{% extends "base.html" %}
{% block nav %}
<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="{{url_for('static',filename = 'img/sidebar-1.jpg')}}">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
        
        Tip 2: you can also add an image using data-image tag
      -->
      <div class="logo"><a href="#" class="simple-text logo-normal">
      Rent Romeo
    </a></div>
    
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('dashboard')}}">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item active ">
        <a class="nav-link" href="{{url_for('edit_uprofile')}}">
          <i class="material-icons">person</i>
          <p>My Profile</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{{url_for('map')}}">
          <i class="material-icons">location_ons</i>
          <p>Maps</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{{url_for('create_ad')}}">
          <i class="material-icons">add</i>
          <p>Create Your Ad For Free</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{{url_for('about_us')}}">
          <i class="material-icons">info</i>
          <p>About us</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{{url_for('feedback')}}">
          <i class="material-icons">email</i>
          <p>Feedback</p>
        </a>
      </li>
    </ul>
  </div>
    </div>
{% endblock %}
{% block body %}
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Edit Profile</h4>
                  <p class="card-category">Complete your profile</p>
                </div>
                <div class="card-body">
                  <form method="POST" action="/edit_profile/{{user.id}}">
                      <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="bmd-label-floating">First Name</label>
                              <input type="text" name="first_name" value="{{user.first_name}}" class="form-control">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="bmd-label-floating">Last Name</label>
                              <input type="text"  name="last_name" value="{{user.last_name}}" class="form-control">
                            </div>
                          </div>
                        </div> 
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email</label>
                          <input type="email" name="email"   value="{{user.email}}" class="form-control" disabled>
                          <small style="float: left;" >You Can't Edit Your Email</small>
                        </div>
                      </div>
                  
                      <div class="col-md-3">
                        <div class="form-group">
                          <span class="text-gray">Birthdate</span>
                          <input type="date" class="form-control" value="{{user.birthday}}" name="birthday" placeholder="Birthdate">
                        </div>
                      </div>
                      </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                              <label class="bmd-label-floating">State</label>
                              <input list="State" value="{{user.state}}" name="state" class="form-control">
                              <datalist id="State">
                                  <option value="Andhra Pradhesh"></option>
                                  <option value="Arunachal Pradhesh"></option>
                                  <option value="Assam"></option>
                                  <option value="Bihar"></option>
                                  <option value="Chhattisgarh"></option>
                                  <option value="Goa"></option>
                                  <option value="Gujarat"></option>
                                  <option value="Haryana"></option>
                                  <option value="Himachal Pradhesh"></option>
                                  <option value="Mizoram"></option>
                                  <option value="Jharkhand"></option>
                                  <option value="Karnataka"></option>
                                  <option value="Kerala"></option>
                                  <option value="Madhya Pradhesh"></option>
                                  <option value="Maharashtra"></option>
                                  <option value="Manipur"></option>
                                  <option value="Meghalaya"></option>
                                  <option value="Nagaland"></option>
                                  <option value="Odisha"></option>
                                  <option value="Panjab"></option>
                                  <option value="Rajasthan"></option>
                                  <option value="Sikkim"></option>
                                  <option value="Tamil Nadu"></option>
                                  <option value="Tripura"></option>
                                  <option value="Telangana"></option>
                                  <option value="Uttar Pradhesh"></option>
                                  <option value="Uttarakhand"></option>
                                  <option value="West Bengal"></option>
                                </datalist>
                            </div>
                          </div>
                          <div class="col-md-3">
                              <div class="form-group">
                                <label class="bmd-label-floating">City</label>
                                <input type="text"  name="district"  value="{{user.city}}" class="form-control">
                              </div>
                            </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">PinCode</label>
                          <input type="text" name="postal_code" value="{{user.pincode}}" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                            <label class="bmd-label-floating">Phone no</label>
                            <input type="number"  name="phone_no" value="{{user.phone_no}}" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Instagram</label>
                                <input type="text" name="instagram" value="{{user.instagram}}" class="form-control">
                              </div>
                            </div>
                        <div class="col-md-3">
                          <div class="form-group">
                                <label class="bmd-label-floating">Facebook</label>
                                <input type="text" name="facebook" value="{{user.facebook}}" class="form-control">
                              </div>
                            </div>
                      </div>
                    <button type="submit" class="btn btn-primary pull-right">Update Yo Profile</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="javascript:;">
                    <img class="img" src="../assets/img/faces/welcome.jpg" />
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray">Rent Romeo</h6>
                  <h4 class="card-title">Follow me on social Media</h4>
                  <p class="card-description">
                    hello i am rent romeo the project ^^
                    </p>
                    <button id="twitter" class="btn btn-round btn-twitter"><i class="fa fa-twitter"></i></button>
                    <button id="facebook" class="btn btn-round btn-facebook"><i class="fa fa-facebook-f"></i></button>
                    <button id="instagram" class="btn btn-round btn-instagram" style="background-color: rgb(243, 65, 118)"><i class="fa fa-instagram" aria-hidden="true"></i></button>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="#">
                  Alds
                </a>
              </li>
              <li>
                <a href="#">
                  About Us
                </a>
              </li>
              <li>
                <a href="#">
                  Blog
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, made with <i class="material-icons">favorite</i> by
            <a href="#" target="_blank">Alds</a> for a better web.
          </div>
        </div>
      </footer>
    </div>
  </div>
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <li class="header-title"> Sidebar Filters</li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger active-color">
            <div class="badge-colors ml-auto mr-auto">
              <span class="badge filter badge-purple" data-color="purple"></span>
              <span class="badge filter badge-azure" data-color="azure"></span>
              <span class="badge filter badge-green" data-color="green"></span>
              <span class="badge filter badge-warning" data-color="orange"></span>
              <span class="badge filter badge-danger" data-color="danger"></span>
              <span class="badge filter badge-rose active" data-color="rose"></span>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="header-title">Images</li>
        <li class="active">
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="../assets/img/sidebar-1.jpg" alt="">
          </a>
        </li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="../assets/img/sidebar-2.jpg" alt="">
          </a>
        </li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="../assets/img/sidebar-3.jpg" alt="">
          </a>
        </li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="../assets/img/sidebar-4.jpg" alt="">
          </a>
        </li>
        
        <li class="button-container github-star">
          <a class="github-button" href="https://github.com/creativetimofficial/material-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
        </li>
        <li class="header-title">Share Your Post</li>
        <li class="button-container text-center">
          <button id="twitter" class="btn btn-round btn-twitter"><i class="fa fa-twitter"></i></button>
          <button id="facebook" class="btn btn-round btn-facebook"><i class="fa fa-facebook-f"></i></button>
          <br>
          <br>
        </li>
      </ul>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
{% endblock %}